*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
img{
    width: 200px;
}
img:first-child{
    width: 45px;
}

button{
    cursor: pointer;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    padding: 15px;
    border: 2px solid white;
    border-radius: 10px;
}
button:hover{
    border-color: rgba(213, 40, 40, 0.934);
    color: rgba(213, 40, 40, 0.934);
    transition: 0.5s;
}

div{
    display: flex;
    gap: 10px;
}