* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    height: 100%;
    width: 100%;
}

h1 {
    margin: 30px;
    color: rgb(0, 0, 0);
}

ul {
    display: block;
}

li {
    padding: 40px;
    display: inline-block;
    margin: 30px 30px;
    background-color: #1C1A1D;
    width: 400px;
    height: 250px;
    cursor: pointer;
    border-radius: 4px;
}
.hidden{
display: none;
}
.selected{
    background-color: #2E2D2E;
    border: 1px solid aqua
}